body {overflow:hidden; position: relative; font-family: Roboto,Arial;}
body, iframe {box-sizing: border-box; padding:0; margin:0;}
iframe {
    height: 100vh;
    width: 100vw;
    border:0;
}


#nav {
    position: fixed; bottom:0; left:0;
    width: 90px; height:100px;
    z-index:9999;
    user-select: none;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
    border-radius: 2px;
    cursor: pointer;
    background-color: rgb(34, 34, 34);
 }

#btnShowmap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%);
    transform: translateX(-50%);
color:#000;
font-weight: 700;}

#btnReloadmap {
    opacity: 0;
    height: 0;
    overflow: hidden;}
.show {opacity:1!important;
    height: auto!important;
    overflow:visible!important;
}

.fadein {opacity:1!important;}

#btnReloadmap, .show{
    transition: opacity 1s ease-in-out;
}


 button {
     color:#ccc;
    display: block;
    border: 0px none;
    margin: 0px;
    padding: 0px;
    position: relative;
    cursor: pointer;
    user-select: none;
    overflow: hidden;
    outline: currentcolor none medium;
    background: transparent;
 }