h1 {
  background: blue;
  color: red;
  font-size: 4em;
  text-align: center;
}
/* .title {
  background: rebeccapurple;
  padding: 8px;
  display: inline-flex;
  justify-content: space-around;
} */

